#auth-bg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 58%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0, .45), rgba(0,0,0, .6)), url(../../assets/images/register-bg.png);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 0% 650%, 0% 100%);
    transition: .4s;
}

.auth-logo {
    width: 200px;
}

.auth-home-link {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #fff;
    background-color: rgba(0,0,0, .9);
    padding: 4px 10px;
    border-radius: 4px;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    transition: .4s;
    z-index: 1000;
}

.auth-home-link:hover {
    background-color: rgba(0,0,0, .6);
}

.to-login-link, .to-register-link, 
.to-recover-link {
    color: rgba(0,0,0, .6);
    transition: .3s;
    font-family: 'lora', serif;
    text-align: center;
}

.to-login-link:hover, .to-register-link:hover,
.to-recover-link:hover {
    color: rgba(0,0,0, .9);
}

.auth-alert {
    position: absolute;
    width: 370px;
    animation: 1s text-display;
    left: 30%;
    bottom: 7%;
}

.auth-alert-login {
    position: static;
    width: 390px;
    margin-top: 1rem;
}

.to-recover-link {
    text-align: right;
    margin-top: -10px;
}

@media screen and (max-width: 1220px){
    #register-container, #login-container {
        height: 110vh;
    }
}

@media screen and (max-width: 1024px){
    #auth-bg {
        width: 50%;
    }
    #auth-section {
        width: 50%;
    }
    
}

@media screen and (max-width: 980px) {
    #register-title, #login-title {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 780px) {
    #auth-bg {
        display: none;
    } 
    #auth-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 4rem 2rem;
        align-items: center;
    }
    #login-form, #register-form {
        width: 55%;
    }
    #register-title, #login-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 680px){
    #login-form, #register-form {
        width: 70%;
    }
}

@media screen and (max-width: 540px){
    #login-form, #register-form {
        width: 80%;
    }
}

