#selections-1, #selections-2 {
    background-position: center;
    background-size: cover;
    transition: ease-in-out .35s;
    width: 100%;
    height: 100%;
    display: flex;
}


#selections-1 {
    background-image: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .6)), url(../../assets//images/selections1.png);
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
}

#selections-2 {
    background-image: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .6)), url(../../assets//images/home-7.png);
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
}

.picks-logo {
    color: #fff;
    margin-bottom: .5rem;
    border: 1px solid #ffffff73;
    border-radius: 5px;
    padding: 8px;
}