span {
    font-weight: 400;
}

.fav-img {
    width: 30%;
    object-fit: cover;
}

.popup-img {
    width: 50%;
    align-self:center ;
}

.more-follow-btn {
    position: absolute;
    bottom: 3rem;
    right: 9rem;
    color: #fff;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255, .5);
    transition: .4s;
}

.more-follow-btn:hover {
    background-color: rgba(30,30,30, .8);
}

.more-follow-icon {
    position: relative;
}

@media screen and (max-width: 1180px) {
    .more-follow-btn {
        right: 7rem;
    }
}

@media screen and (max-width: 980px) {
    .more-follow-btn {
        right: 3rem;
    }
    #account-title , #favorite-title {
        font-size: 1.7rem;
    }
    #account-details {
        width: 60%;
    }
    #fav-card {
        width: 90%;
        padding-left: .8rem;
    }
    .fav-img {
        width: 25%;
    }
    #fav-name {
        font-size: 1.3rem;
    }
    #fav-location {
        font-size: 1rem;
    }
    #fav-price {
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 780px) {
    #fav-name {
        font-size: 1.1rem;
    }
    #fav-location {
        font-size: .8rem;
    }
    #fav-price {
        font-size: .9rem;
    }
    #fav-btn {
        font-size: .6rem;
        padding: 3px;
    }
    .fav-img {
        width: 30%;
    }
}

@media screen and (max-width: 700px){
    #profile-container {
        flex-direction: column;
        height: auto;
    }
    #fav-card {
        padding-left: 0;
    }
    #account-details, #favorite-container {
        width: 100%;
        padding: 4.7rem 1rem 3rem 3rem;
    }
    .more-follow-btn {
        bottom: 1rem;
        right: 2.3rem;
    }
}

@media screen and (max-width: 620px){
    #profile-container {
        flex-direction: column;
        height: auto;
    }
    #account-details, #favorite-container {
        width: 100%;
        padding: 4.7rem 1rem 3rem 3rem;
    }
    #fav-card {
        padding-left: .7rem;
    }
    .more-follow-btn {
        right: 1.7rem;
    }
}
